@model Housemate.Models.CustomerInfo

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <style>
        .profile-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }

        body {
            background-color: cadetblue;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        
        @using (Html.BeginForm())
        {
        <div class="row">
            
            <div class="col-md-3">
                <h2 class="text-center">Actions</h2>
                <hr />
                @Html.ActionLink("My orders", "Index", "Orders", new { area = "" }, new { @class = "btn btn-primary", @style = "width:250px; align-self:center; height:50px; margin-bottom:10px;" })
                @Html.ActionLink("Pending Orders", "PendingOrder", "Orders", new { area = "" }, new { @class = "btn btn-primary", @style = "width:250px; align-self:center; height:50px; margin-bottom:10px;" })
                @Html.ActionLink("To Deliver", "ConfirmedOrder", "Orders", new { area = "" }, new { @class = "btn btn-primary", @style = "width:250px; align-self:center; height:50px; margin-bottom:10px;" })
                @Html.ActionLink("Buy History", "Index", "BuyHistories", new { area = "" }, new { @class = "btn btn-primary", @style = "width:250px; height:50px; margin-bottom:10px;" })
                @Html.ActionLink("Change Shippping Address", "Edit", "ShippingAddresses", new { id = Request.Cookies["CustomerID"].Value }, new { @class = "btn btn-primary", @style = "width:250px; height:50px; margin-bottom:10px;" })
            </div>
            <div class="col-md-6">
                
                <h2 class="text-center">Profile</h2>
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                <div style="margin-left:200px; margin-bottom:20px">
                    <img src="@Url.Content(Model.image_data)" alt="Profile Picture" class="profile-image">
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.con_pass, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.con_pass, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.con_pass, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.first_name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.last_name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
            </div>

        </div>
        }
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Place additional form fields here for editing profile information -->
                    <div class="form-group">
                        <label for="editName">Name</label>
                        <input type="text" class="form-control" id="editName" value="John Doe">
                    </div>

                    <div class="form-group">
                        <label for="editDob">Date of Birth</label>
                        <input type="date" class="form-control" id="editDob" value="1990-01-01">
                    </div>

                    <div class="form-group">
                        <label for="editAddress">Address</label>
                        <textarea class="form-control" id="editAddress" rows="3">123 Main St, City, Country</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>