@model Housemate.Models.CustomerInfo
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/RegisterLogin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <style>
        .center-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: fit-content;
        }

        body {
            padding: 20px;
            margin: 0;
            padding: 0;
            /* Adding the background image */
            background-image: url("/img/Asset.jpg");
            /* Set background image to cover the entire body */
            background-size: cover;
            /* Set background image to not repeat */
            background-repeat: no-repeat;
            /* Apply blur effect to the background image */
            backdrop-filter: blur(5px);
        }

        .form-control,
        .btn {
            border-radius: 10px; /* Adjust the radius value as needed */
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/CSS/navbar.css" />
</head>
<body>
    <div class="container center-container" style="margin-top: 60px;">
        <h2>Register</h2>
        <form asp-action="Register" method="post">
            @using (Html.BeginForm("RegisterUser", "UserAccount", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div>
                        
                    </div>
                    <div>
                        @Html.LabelFor(model => model.username, "Username", new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.username, new { @class = "form-control reg" })
                        <h5 style="color: red; text-align: center;">@Html.ValidationMessageFor(model => model.username, "", new { @class = "" })</h5>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.email, "Email", new { @class = "form-label" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.email, new { @class = "form-control reg" })
                        <h5 style="color:red; text-align:center;">@Html.ValidationMessageFor(model => model.email, "", new { @class = "" })</h5>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.first_name, "First Name", new { @class = "form-label" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.first_name, new { @class = "form-control reg" })
                        <h5 style="color: red; text-align: center;">@Html.ValidationMessageFor(model => model.first_name, "", new { @class = "" })</h5>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.last_name, "Last Name", new { @class = "form-label" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.last_name, new { @class = "form-control reg" })
                        <h5 style="color: red; text-align: center;">@Html.ValidationMessageFor(model => model.last_name, "", new { @class = "" })</h5>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.password, "Password", new { @class = "form-label" })
                    </div>
                    <div>
                        @Html.PasswordFor(model => model.password, new { @class = "form-control reg" })
                        <h5 style="color: red; text-align: center;">@Html.ValidationMessageFor(model => model.password, "", new { @class = "" })</h5>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.con_pass, "Confirm Password", new { @class = "form-label" })
                    </div>
                    <div>
                        @Html.PasswordFor(model => model.con_pass, new { @class = "form-control reg" })
                        <h5 style="color: red; text-align: center;">@Html.ValidationMessageFor(model => model.con_pass, "", new { @class = "" })</h5>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.address, "Address", new { @class = "form-label" })
                    </div>
                    <div>
                        @Html.TextAreaFor(model => model.address, new { @class = "form-control reg", @rows = 3 })
                        <h5 style="color: red; text-align: center;">@Html.ValidationMessageFor(model => model.address, "", new { @class = "" })</h5>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.city, "City", new { @class = "form-label" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.city, new { @class = "form-control reg" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.state, "State", new { @class = "form-label" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.state, new { @class = "form-control reg" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.country, "Country", new { @class = "form-label" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.country, new { @class = "form-control reg" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.phone_number, "Phone Number", new { @class = "form-label" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.phone_number, new { @class = "form-control reg" })
                        <h5 style="color: red; text-align: center;">@Html.ValidationMessageFor(model => model.phone_number, "", new { @class = "" })</h5>
                    </div>
                </div>
                <div class="submit-btn-container">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </form>
        <div class="text-center mt-3">
            <a href="/Home/Login">Already registered? Log in here</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>



