@model Housemate.Models.Order

@{
    ViewBag.Title = "Details";
    if (Request.Cookies["AdminID"] != null) {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    if (Request.Cookies["CustomerID"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<style>
    .order-details {
        border: 2px solid;
        border-color: darkgrey;
        background-color: white;
        height: 160px;
        width: 100%;
        padding: 10px;
        border-radius: 30px;
        text-align: center;
        margin-top: 20px;
    }

    .selected-products {
        border-radius: 30px;
        margin-top: 20px;
    }

    .product-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
        max-width: 400px;
        text-shadow: initial;
        white-space: nowrap; /* Prevent line breaks */
        overflow: hidden; /* Hide overflowed text */
        text-overflow: ellipsis;
    }

    .unit-price {
        color: white;
    }

    .product-quantity {
        width: 70px;
    }

    .cart-row {
        border-bottom: 1px solid #dee2e6;
        padding: 10px 0;
        background-color: darkgray;
        align-content: center;
        width: 100%;
        border-radius: 30px;
        margin-left: 0px;
    }

    .product-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 20px;
    }
</style>
<h2>Order Details</h2>

@if (Request.Cookies["AdminID"] != null)
{
    <h3>Customer Details</h3>
    <div class="order-details">
        <p><b>Customer Name: </b>@ViewBag.customerin.first_name @ViewBag.customerin.last_name</p>
        <p><b>Customer Email: </b>@ViewBag.customerin.email</p>
        <p><b>Customer Phone Number: </b>@ViewBag.customerin.phone_number</p>
        <p><b>Order ID: </b>@Html.DisplayFor(model => model.order_id)</p>
        <p><b>Order Date: </b>@Html.DisplayFor(model => model.order_date)</p>

    </div>
    <h3>Selected Products</h3>
    <div class="selected-products">
        @foreach (var item in ViewBag.carR)
        {
            <div class="row cart-row">
                <div class="col-md-1" style="align-content:center;">
                    <img src="@Url.Content(item.Product.image_data)" alt="" class="product-image">
                </div>
                <div class="col-md-6">
                    <h3 class="product-name">
                        <a href="@Url.Action("Details", "Home", new { id = item.Product.product_id })">@item.Product.product_name</a>
                    </h3>
                    <p class="unit-price" style="font-size:large"> ৳@item.Product.price</p>
                    <p>Quantity Available: @item.Product.availability</p>
                    <p>Quantity Requested: @item.quantity</p>
                </div>
                <div class="col-md-5" style="text-align: center; padding-top: 20px;">
                    <p class="total-price" style="font-size:x-large">৳@item.price</p>
                </div>
            </div>
            
        }
    </div>
    <div class="action" style="margin-top:20px;margin-left:500px;">
        <div class="row">
            @Html.ActionLink("Confirm", "ConfirmOrder", "Orders", new { id = Model.order_id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Reject", "RejectOrder", "Orders", new { id = Model.order_id }, new { @class = "btn btn-danger" })
        </div>
    </div>
}
