@model IEnumerable<Housemate.Models.Order>

@{
    ViewBag.Title = "Index";
    if (Request.Cookies["AdminID"] != null)
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    else if(Request.Cookies["CustomerID"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feedback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerInfo.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.cart_id)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.order_status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.feedback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerInfo.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cart.cart_id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.order_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.order_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.order_id })
                </td>
            </tr>
        }
    }

</table>
