@model Housemate.Models.Product
@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.DisplayNameFor(model => model.product_name)</title>
    <!-- Bootstrap CSS -->
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <!-- Product Image -->
                <img src="@Url.Content(Model.image_data)" alt="Product Image" style="width:500px; height:auto;">
                <p>@Html.DisplayFor(model => model.description)</p>
            </div>
            <div class="col-md-6">
                <!-- Product Details -->
                <h2>@Html.DisplayFor(model => model.product_name)</h2>
                <p class="font-weight-bold">Price: ৳ @Html.DisplayFor(model => model.price)</p>
                <p class="font-weight-bold">Quantity Available: @Html.DisplayFor(model => model.availability)</p>
                <p>Category: @Html.DisplayFor(model => model.Category)</p>

                <!-- Buttons -->
                <div class="d-flex flex-column">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }, new {@class = "btn btn-primary mb-2" }) 
                    @Html.ActionLink("Back", "Index", new {@class = "btn btn-warning mb-2" })
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (Optional, only needed if you use Bootstrap's JavaScript features) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

